# 02 - Variáveis

In [1]:
# Atribuindo o valor 1 a variável var_teste
var_teste = 1

In [3]:
# Imprimindo o valor da variável
var_teste

1

In [4]:
# Imprimindo o valor da variável
print(var_teste)

1

In [5]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro: NameError: name 'my_var' is not defined
my_var

NameError: name 'my_var' is not defined

In [6]:
var_teste = 2

In [7]:
var_teste

2

In [8]:
type(var_teste)

int

In [9]:
var_teste = 9.5

In [10]:
type(var_teste)

float

In [11]:
x = 1

In [12]:
x

1

## Declaração Múltipla

In [13]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [14]:
pessoa1

'Bob'

In [15]:
pessoa2

'Maria'

In [16]:
pessoa3

'Ana'

In [17]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [18]:
fruta1

'Melancia'

In [19]:
fruta2

'Melancia'

In [22]:
fruta3

'Melancia'

In [20]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
Fruta2

NameError: name 'Fruta2' is not defined

In [23]:
# O comando abaixo irá gerar uma mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números.
1x = 50

SyntaxError: invalid decimal literal (3917074113.py, line 2)

## Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [24]:
largura = 2

In [25]:
altura = 4

In [26]:
area = largura * altura

In [27]:
area

8

In [28]:
perimetro = 2 * largura + 2 * altura

In [29]:
perimetro

12

In [30]:
# A ordem dos operadores é a mesma seguida da Matemática
perimetro = 2 * (largura + 2) * altura

In [31]:
perimetro

32

## Operações com Variáveis

In [32]:
idade1 = 25

In [33]:
idade2 = 35

In [34]:
idade1 + idade2

60

In [35]:
idade2 - idade1

10

In [36]:
idade2 * idade1

875

In [37]:
idade2 / idade1

1.4

In [38]:
idade2 % idade1

10

## Concatenação de Variáveis

In [39]:
nome = "Bob"

In [40]:
sobrenome = "Marley"

In [41]:
fullname = nome + " " + sobrenome

In [42]:
fullname

'Bob Marley'