# Manipulação de Arquivos - Parte 1

## Lendo Arquivos

In [ ]:
# Abrindo o arquivo para leitura
arq1 = open("arquivos/arquivo1.txt", "r") # r = read

In [ ]:
type(arq1)

In [ ]:
# Lendo o arquivo
# Quando utilizamos o método de leitura, ao final do processamento, o cursor ficará posicionado no final do arquivo
# Isso faz com que seja necessário posicionarmos o cursor no início novamente se houver necessidade de reprocessar as informações
print(arq1.read())

In [ ]:
# Contar o número de caracteres
print(arq1.tell())

In [ ]:
# Retornar para o início do arquivo
print(arq1.seek(0, 0))

In [ ]:
# Lendo os primeiros 23 caracteres
print(arq1.read(23))

## Gravando Arquivos

In [ ]:
# Abrindo arquivo para gravação
arq2 = open("arquivos/arquivos2.txt", "w") # w = write

In [ ]:
# Como abrimos o arquivo apenas para gravação, não podemos usar comandos de leitura
print(arq2.read())

In [ ]:
# Gravando arquivo
arq2.write("Aprendendo a programar em Python.")

In [ ]:
arq2.close()

In [ ]:
# Lendo arquivo gravado
arq2 = open("arquivos/arquivo2.txt", "r")

In [ ]:
print(arq2.read())

In [ ]:
# Acrescentando conteúdo
arq2 = open("arquivos/arquivos2.txt", "a") # a = append

In [ ]:
arq2.write(" E a metodologia de ensino da Data Science Academy facilita o aprendizado.")

In [ ]:
arq2.close()

In [ ]:
arq2 = open("arquivos/arquivo2.txt", "r")

In [ ]:
print(arq2.read())

In [ ]:
# Retornando ao início do arquivo para leitura
arq2.seek(0, 0)

In [ ]:
print(arq2.read())

## Abrindo Dataset em Linha Única

Este arquivo abaixo foi obtido no site de dados abertos do governo da cidade de Chicago, nos EUA:

https://data.cityofchicago.org/

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
print(rows)

## Dividindo um Arquivo em Colunas

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [ ]:
print(full_data)

## Contando as Linhas de Um Arquivo

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [ ]:
count = 0
for row in full_data:
    count += 1

In [ ]:
print(count)

## Contando o Número de Colunas de Um Arquivo

In [ ]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [ ]:
for column in first_row:
    count += 1

# Outra solução possível:
# for column in full_data[0]:
#     count += 1

In [ ]:
print(count)

## Gravando Arquivo Pelo Jupyter Notebook

In [ ]:
%%writefile arquivos/arquivo3.txt
Este arquivo foi gerado pelo Jupyter Notebook
Podemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.

In [ ]:
arq3 = open('arquivos/arquivo3.txt', 'r')

In [ ]:
arq3.read()

In [ ]:
# Estamos no final do arquivo e não há mais nada para ler
arq3.read()

In [ ]:
# Retornando ao início do arquivo
arq3.seek(0)

In [ ]:
arq3.seek(0)
arq3.readlines()

In [ ]:
# Podemos usar um loop for para ler o arquivo
for line in open('arquivos/arquivo3.txt'):
    print(line)

## Importando um Dataset com Pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
arquivo = "arquivos/salarios.csv"

In [4]:
df = pd.read_csv(arquivo)

In [8]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [9]:
df['Position Title'].value_counts()

POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: Position Title, Length: 1094, dtype: int64