# Objetos

## Em Python, tudo é Objeto!

In [1]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [2]:
# A lista lst_num é um objeto, uma instância da classe list em Python
type(lst_num)

list

In [3]:
print(type([]))

<class 'list'>

In [4]:
lst_num.count(10)

2

In [5]:
# Usando a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [6]:
# Criando um novo tipo de objeto chamado Carro
class Carro(object):
    pass

In [7]:
# Instância do Carro
ferrari = Carro()

In [8]:
print(type(ferrari))

<class '__main__.Carro'>

In [9]:
# Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [10]:
# Criando um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Bob", 12, 9.5)

In [13]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nome

'Bob'

In [14]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.idade

12

In [15]:
# Atribuindo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nota

9.5

In [20]:
# Criando uma classe
class Funcionarios():
    
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
        
    def listFunc(self):
        print("Funcionário(a) " + self.nome + " tem salário de R$ " + str(self.salario) + " e o cargo é " + self.cargo)

In [21]:
# Criando um objeto chamado Fun1 a partir da classe Funcionarios
Func1 = Funcionarios("Mary", 20000, "Cientista de Dados")

In [22]:
# Usando o método da classe
Func1.listFunc()

Funcionário(a) Mary tem salário de R$ 20000 e o cargo é Cientista de Dados

In [23]:
print("**** Usando Atributos ****")

**** Usando Atributos ****

In [25]:
hasattr(Func1, "nome")

True

In [26]:
hasattr(Func1, "salario")

True

In [27]:
setattr(Func1, "salario", 4500)

In [28]:
hasattr(Func1, "salario")

True

In [29]:
getattr(Func1, "salario")

4500

In [30]:
delattr(Func1, "salario")

In [31]:
hasattr(Func1, "salario")

False